<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>{% block page_title %}{% endblock %}</title>
	<meta name="description" content="{% block page_description %}{% endblock %}">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel=“icon” href="/favicon.ico" sizes="16x16 32x32 48x48 64x64" type=”image/vnd.microsoft.icon”>
	<link rel="stylesheet" href="{{ static_domain }}/_themes/pinfinity/css/pinfinity_20130901.css" />
<script type="text/javascript">
(function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src=("https:"===e.location.protocol?"https:":"http:")+'//cdn.mxpnl.com/libs/mixpanel-2.2.min.js';f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f);b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==
typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");for(g=0;g<i.length;g++)f(c,i[g]);
b._i.push([a,e,d])};b.__SV=1.2}})(document,window.mixpanel||[]);

var APP = (function () {
	var APP = {
		inDevmode: /^([\d]+|localhost)/.test(window.location.hostname),
		start: new Date().getTime(),
		log: function () {
			if (window.console && console.log) console.log.apply(console, arguments);
		}
	}

	function extendMixpanelProperties(properties) {
		properties = properties || {};
		properties.pathname = window.location.pathname;
		properties.title = document.title;
		properties.time_onsite = Math.round((new Date().getTime() - APP.start) / 1000);
		return properties;
	}

	if (APP.inDevmode) {
		APP.log('inDevmode == yes');
		APP.track = function (eventName, properties) {
			APP.log('Track', eventName, extendMixpanelProperties(properties));
		}
		APP.trackLinks = function (selector, eventName, callback) {
			$(selector).on('click', function () {
				var properties = callback(this);
				properties.target_url = $(this).attr('href')
				APP.track(eventName, properties);
			});
		}
	} else {
		mixpanel.init("bc8c2b9a06449d481e4397899458b738");
		mixpanel.register_once({init_pathname: window.location.pathname});

		APP.track = function (eventName, properties) {
			mixpanel.track(eventName, extendMixpanelProperties(properties));
		};

		APP.trackLinks = function (selector, eventName, callback) {
			mixpanel.track_links(selector, eventName, function (el) {
				return extendMixpanelProperties(callback(el));
			});
		};
	}

	APP.track('pageview');
	window.onload = function() {
		APP.track('window_load', {loadtime: new Date().getTime() - APP.start});
	};

	return APP;
}());
</script>
</head>
<body>
	<!--[if lt IE 8]>
	<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
	<![endif]-->

<div id="container">
	<div id="banner">
		<div class="top-nav">
			<ul class="nav">
				<li class="nav-item">
					<a class="track-link-conversion" href="mailto:connect@pinfinity.co"
						data-convert-name="top-nav email">
						<img src="{{ static_domain }}/_themes/pinfinity/img/icons/email.png" width="24px" height="24px" />
						connect@pinfinity.co
					</a>
				</li>
				<li class="nav-item">
					<a class="track-link-conversion"
						href="http://www.linkedin.com/company/pinfinity-consulting-llc-"
						data-convert-name="top-nav LinkedIn">
						<img src="{{ static_domain }}/_themes/pinfinity/img/icons/linkedin.png" width="24px" height="24px" />
					</a>
				</li>
				<li class="nav-item">
					<a class="track-link-conversion"
						href="https://twitter.com/PinfinityBooks"
						data-convert-name="top-nav Twitter">
						<img src="{{ static_domain }}/_themes/pinfinity/img/icons/twitter.png" width="24px" height="24px" />
					</a>
				</li>
				<li class="nav-item">
					<a class="track-link-conversion"
						href="https://www.facebook.com/pages/Pinfinity-Consulting-LLC/187886501334932"
						data-convert-name="top-nav Facebook">
						<img src="{{ static_domain }}/_themes/pinfinity/img/icons/facebook.png" width="24px" height="24px" />
					</a>
				</li>
			</ul>
		</div>
		<div class="main-nav">
			<div class="branding">
				<a href="/"><img src="{{ static_domain }}/_themes/pinfinity/img/pinfinity-horizontal.png" /></a>
			</div>
			<ul class="nav">
				<li class="nav-item first">
					<a href="/about" class="track-link-conversion" data-convert-name="main-nav about-us">
						<strong>About Us</strong><br /><span class="sub">Our team</span>
					</a>
				</li>
				<li class="nav-item">
					<a href="/books/" class="track-link-conversion" data-convert-name="main-nav books">
						<strong>Our Books</strong><br /><span class="sub">Current iBooks</span>
					</a>
				</li>
				<li class="nav-item" class="track-link-conversion" data-convert-name="main-nav blog">
					<a href="/blog/">
						<strong>The Blog</strong><br /><span class="sub">Our knowledge</span>
					</a>
				</li>
			</ul>
		</div>
	</div>

	{% block main_content %}{% endblock %}

	<div class="row connect">
		<div class="span">
			<div class="cta">
				<h2 class="header light">Stay on top of your game.</h2>
				<p class="tagline">
				We do our best to find and share new, and insightful information about
				technology, learning, and medicine. Don't miss a beat.
				</p>
			</div>
			<div class="media-box boxa">
				<a class="box social-link track-link-conversion"
					data-convert-name="footer LinkedIn"
					href="http://www.linkedin.com/company/pinfinity-consulting-llc-">
				<h4 class="header2">Join Us on LinkedIn</h4>
				<p class="content2">
				LinkedIn is a great way to connect with influential people in medicine and education.
				</p>
				<p class="link"><img src="{{ static_domain }}/_themes/pinfinity/img/linkedin.png" /></p>
				</a>
			</div>
			<div class="media-box boxb">
				<a class="box social-link track-link-conversion"
					data-convert-name="footer Twitter"
					href="https://twitter.com/PinfinityBooks">
				<h4 class="header2">Stay Up to Date on Twitter</h4>
				<p class="content2">
				Hear about everything happening now in technology, medicine, and education with us on Twitter.
				</p>
				<p class="link"><img src="{{ static_domain }}/_themes/pinfinity/img/twitter.png" /></p>
				</a>
			</div>
			<div class="media-box boxc">
				<a class="box social-link track-link-conversion"
					data-convert-name="footer Facebook"
					href="https://www.facebook.com/pages/Pinfinity-Consulting-LLC/187886501334932">
				<h4 class="header2">Follow Us on Facebook</h4>
				<p class="content2">
				We post frequent updates and articles about health, and the changing landscape of education and learning.
				</p>
				<p class="link"><img src="{{ static_domain }}/_themes/pinfinity/img/facebook.png" /></p>
				</a>
			</div>
			<div class="contact-us">
				<p>And, please get in touch: <a href="mailto:connect@pinfinity.co">connect@pinfinity.co</a></p>
			</div>
		</div>
	</div><!-- .row.connect -->

	<div id="footer">
		<p class="copyright">&copy; Pinfinity Consulting LLC 2012 - 2013</p>
	</div><!-- #footer -->
</div><!-- #container -->

<script src="{{ static_domain }}/_themes/pinfinity/js/jquery-1.9.1.min.js" type="text/javascript"></script>
<script type="text/javascript">
$(function ($) {
	APP.track('document_ready', {loadtime: new Date().getTime() - APP.start});

	// Track convertions on links.
	APP.trackLinks('.track-link-conversion', 'conversion', function (el) {
		return {target: $(el).attr('data-convert-name')};
	});

	// Track click conversions.
	$('.track-click-conversion').on('click', function (ev) {
		var props = {target: $(this).attr('data-convert-name')};
		APP.track('conversion', props);
	});

	// Start checkpoint tracking.
	(function () {
		var checks = [4000, 12000, 30000, 60000, 120000, 180000]
			, i = 0, len = checks.length

		function createCheckpoint(milisecs) {
			window.setTimeout(function () {
				APP.track('checkpoint', {seconds: Math.round(milisecs / 1000)});
			}, milisecs);
		}

		for (; i < len; i += 1) {
			createCheckpoint(checks[i]);
		}
	}());


	// Register users during gallery upload.
	(function () {
	$('#widget-gallery-upload-form').find('#email_address').on('change', function (ev) {
		if (APP.inDevmode) {
			APP.log("track widget upload");
		} else {
			mixpanel.identify(mixpanel.get_distinct_id());
			mixpanel.people.set({
				email: $(this).val()
			});
		}
	});
	}());
});
</script>
</body>
</html>
