{% extends "./layouts/base.html" %}

{% block page_title %}Pinfinity Book Hub Gallery{% endblock %}

{% block page_description %}
A gallery and preview tool for HTML5 widgets used in iBooks Author.
{% endblock %}

{% block main_content %}
<div id="hub-gallery" class="page">
	<div class="row page-header">
		<h1 class="header light">Community widget gallery.
		<br /><span class="sub">Showing off the work of interactive HTML widget creators.</span>
		</h1>
	</div>
	{% if error %}
	<script>APP.track('error', {code: 'GALLERY_WIDGET_UPLOAD', message: "{{ error }}"});</script>
	<div class="row">
		<div class="alert error">
		<h4>Ooops. There was a problem with your submission:</h4>
		<p>{{ error }}
		<br /><a href="#upload-widget">Click here to skip to the form</a> and try again.
		</p>
		</div>
	</div>
	{% endif %}
	<div class="row gallery">
	{% for row in entries %}
		<div class="widget-column">
		{% for entry in row %}
		<div class="entry">
			<div class="entry-inner">
			<h3 class="header light">{{ entry.name }}</h3>
			<p class="entry-image"><img src="/hub/gallery/{{ entry.id }}/files/Default.png" />
			<p>
				<a class="track-link-conversion button"
					data-convert-name="gallery widget-preview"
					href="/hub/gallery/{{ entry.id }}/preview">Preview</a>
				<a class="track-link-conversion button"
					data-convert-name="gallery widget-download"
					href="/hub/downloads/{{ entry.id }}/{{ entry.zipname }}">Download</a>
			</p>
			</div>
		</div>
		{% endfor %}
		</div>
	{% endfor %}
	</div>
</div>
{% endblock %}
