{% extends "./layouts/base.html" %}

{% block page_title %}Pinfinity Book Hub Gallery{% endblock %}

{% block page_description %}
A gallery and preview tool for HTML5 widgets used in iBooks Author.
{% endblock %}

{% block main_content %}
<div id="hub-gallery">
	<div class="row gallery">
		{% for entry in entries %}
		<div class="entry">
			<h4 class="header">{{ entry }}</h4>
		</div>
		{% endfor %}
	</div>
	<div class="row upload-widget">
		<form action="/hub/gallery/" method="POST" enctype="multipart/form-data">
			<label for="gallery_file">Upload a .wdgt.zip file</label>
			<input id="gallery_file" name="gallery_file" type="file" />
			<div class="form-actions">
				<button class="button" type="submit">Upload</button>
			</div>
		</form>
	</div>
</div>
{% endblock %}
