{% extends "./layouts/base.html" %}

{% block page_title %}Pinfinity Book Hub Gallery{% endblock %}

{% block page_description %}
A gallery and preview tool for HTML5 widgets used in iBooks Author.
{% endblock %}

{% block main_content %}
<div id="hub-gallery-widget-preview" class="page">
	<div class="row page-header">
		<h1 class="header light">Widget Preview:</h1>
	</div>
	<div class="row widget-preview">
		<iframe id="preview-frame"
			style="width:{{ item.Width|default("1024") }}px;height:{{ item.Height|default("768") }}px;"
			frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
			src="/hub/gallery/{{ item.id }}/files/{{ item.MainHTML|default("Main.html") }}"></iframe>
	</div>
	<div class="row widget-preview-footer">
		<a href="/hub/gallery/" class="button">Back to the gallery</a>
	</div>
</div>
{% endblock %}
